* {
  box-sizing: border-box;
}
body {
  background-color: #e8ebf1;
  font-family: Arial;
}
.content {
  color: #060a0a;
  margin: 150px;
  text-align: center;
}
.rowcontact {
  display: flex;
  justify-content: space-between;
}
.meHeading {
  color: #5885af;
}
.contactHeader {
  display: flex;
  justify-content: flex-end;
}

.contactLogos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 5;
}
